body {
  background: #2c3e50;
  font-family: 'Verdana';
}
h1 {
  color: #000; 
  font-family: 'Verdana';
  text-align: center; 
  font-size: 18px;
}

/********************* Form Css ******************************/
.error {
  border: 3px solid #e74c3c;
}
.valid {
  border: 3px solid #2ecc71
}
.reset {
  text-decoration: none; 
  color: #2c3e50;
}
form {
  width: 300px; 
  margin: 20px auto;
  background: #ecf0f1;
  padding: 50px;
  border-radius: 5px; 
  -webkit-border-radius: 15px;
  -moz-border-radius: 5px; 
}
form span {
  border: 3px solid #e74c3c; 
  width: 100%; 
  padding: 10px; 
  float:left; 
  text-align: center;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
background-color: white;
font-family: inherit;
-webkit-box-shadow: none;
box-shadow: none;
color: rgba(0, 0, 0, 0.75);
display: block;
font-size: 0.875em;
margin: 0 0 1em 0;
padding: 0.5em;
height: 2.3125em;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
transition: all 0.15s linear;
}

button, .button {
border-style: none;
border-width: 0;
cursor: pointer;
font-family: inherit;
font-weight: bold;
line-height: 1;
margin: 0 0 1.25em;
position: relative;
text-decoration: none;
text-align: center;
display: inline-block;
padding-top: 0.75em;
padding-right: 1.5em;
padding-bottom: 0.8125em;
padding-left: 1.5em;
font-size: 1em;
background-color: #bdc3c7;
border-color: #34495e;
color: white;
border-radius: 5px; 
-webkit-border-radius: 15px;
-moz-border-radius: 5px;
}